//
//  Config.xcconfig
//  
//
//  Created by Kaiwalya Kher on 3/10/14.
//
//

REPO_ROOT = $(PROJECT_DIR)/../../..

USER_HEADER_SEARCH_PATHS = $(inherited) $(REPO_ROOT)/src/kotton/include $(REPO_ROOT)/src/external/cppzmq
HEADER_SEARCH_PATHS = $(inherited) /usr/local/include
LIBRARY_SEARCH_PATHS = $(inherited) /usr/local/lib

OUTPUT_DIRECTORY = $(PROJECT_DIR)/../../../build
SOURCE_DIRECTORY = $(PROJECT_DIR)/../../../src

GCC_C_LANGUAGE_STANDARD = c11
CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY = libc++

OTHER_LDFLAGS = $(inherited) -lzmq

